version: 2.1

jobs:
  build:
    macos:
      xcode: 13.3.0

    steps:
      - checkout
      - run:
          name: pod install
          command: |
            cd SwrveSDKTest
            pod install
      - run: fastlane unitTestsiOS scheme:"SwrveSDKiOS"
      - run: fastlane unitTeststvOS scheme:"SwrveSDKtvOS"
      - store_test_results:
          path: output/scan

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
